body {
    background-color: #56e1e8;
}
.timelineTOP {
    background-color: white;
    width: 800px;
    height: 280px;
    margin: 30px auto 0px auto;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    overflow: hidden;
}
.timelineBOTTOM {
    background-color: white;
    width: 800px;
    height: 280px;
    margin: 0px auto;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    overflow: hidden;
}
.centerTweet {
    background-color: white;
    height: 140px;
    width: 950px;
    margin: 0px auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
    border: 1px solid #cccccc;
}
.tweet {
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
    height: 70px;
    display: none;
    font-size: 1.3em;
}
.timelineTOP > .tweet:last-child {
    border-bottom: 0px;
}
.timelineBOTTOM > .tweet:last-child {
    border-bottom: 0px;
}
.avatar {
    float: left;
    margin: 10px;
    text-align: center;
}
.avatar img {
    max-width: 50px;
    max-height: 50px;
}
.tweetBody {
    float: left;
    width: 675px;
    padding: 10px;
}
.username {
    font-weight: bold;
    margin-right: 10px;
}
.centerTweet .tweet {
    height: 140px;
    border-bottom: 0px;
    font-size: 2.4em;
}
.centerTweet .tweetBody {
    width: 850px;
}
