body {
    background-color: #9ae4e8;
}
.timeline {
    background-color: white;
    width: 800px;
    height: 710px;
    margin: 0px auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
}
.tweet {
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
    height: 70px;
    display: none;
}
.timeline > .tweet:last-child {
    border-bottom: 0px;
}
.avatar {
    float: left;
    margin: 10px;
    text-align: center;
}
.avatar img {
    max-width: 50px;
    max-height: 50px;
}
.tweetBody {
    float: left;
    width: 675px;
    padding: 10px;
}
.username {
    font-weight: bold;
    margin-right: 10px;
}
